@import url('http://fonts.googleapis.com/css?family=Manrope');
* {
    font-family: Manrope;
}
body {
    background-color: #F1F0EA;
}
.chat-container {
    max-width: 700px;
    margin: 0 auto;
  }
.user-text {
    color: #E7DFC6;
    text-align: left;
    background-color: #131B23;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: block;
  }
.chatbot-text {
    color: #E7DFC6;
    text-align: left;
    background-color: #131B23;
    padding: 10px;
    margin: 10px 0;
    border-radius: 8px;
    display: block;
  }
.message-icon {
    font-size: 24px;
    margin-right: 8px;
    float: left;
  }
.button-container {
    width: 700px;
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 2%;
    left: 50%;
    border-radius: 10px;
    transform: translateX(-50%);
    background-color: #131B23;
}
.microphone-icon.recording > span {
    color: red;
}
.microphone-icon {
    position: relative;
    color: #E7DFC6;
    background-color: #131B23;
    width: 50%;
    float: left;
}
.microphone-icon:hover > span {
    color: #8B0000;
}
.microphone-icon.recording:hover > span {
    color: red;
}
.microphone-icon:hover .record-text {
    color: #2C3E50;
}
.remove-button {
    position: relative;
    color: #E7DFC6;
    background-color: #131B23;
    width: 50%;
    float: right;
  }
.remove-button:hover > span {
    color: green;
  }
.remove-button > span {
    position: absolute;
    right: 16px;
  }
.record-text {
    position: absolute;
    left: 55%;
    transform: translateX(-50%);
    width: 80%;
    text-align: center;
}
.remove-text {
    position: absolute;
    right: 55%;
    transform: translateX(50%);
    width: 80%;
    text-align: center;
}
.remove-button:hover .remove-text {
    color: #2C3E50;
}
