<!DOCTYPE html>
<html><body>

    <!-- Link to the CSS stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='stylesheet.css') }}">

    <!-- Start and Stop recording buttons -->
    <button id="startButton">Start Recording</button>
    <button id="stopButton">Stop Recording</button>

    <!-- Div to display the transcription -->

<script class="buttons">
    // Variables for mediaRecorder and recordedChunks
    let mediaRecorder;
    let recordedChunks = [];

    // Event listener for the 'startButton' to start recording when clicked
    document.getElementById('startButton').addEventListener('click', startRecording);
    // Event listener for the 'stopButton' to stop recording when clicked
    document.getElementById('stopButton').addEventListener('click', stopRecording);

    // Function to start recording
    function startRecording() {
        // Discard any previous audio
        recordedChunks = [];

        // Get user media and start recording
        navigator.mediaDevices.getUserMedia({ audio: true })
        .then(stream => {
            mediaRecorder = new MediaRecorder(stream);
            mediaRecorder.start();

            // Event listener to push recorded data to recordedChunks
            mediaRecorder.addEventListener('dataavailable', function(e) {
                recordedChunks.push(e.data);
            });
        });
    }

    // Function to stop recording
    function stopRecording() {
        // Event listener for when recording stops
        mediaRecorder.addEventListener('stop', function() {
            // Create a new Blob object from recordedChunks
            const audioBlob = new Blob(recordedChunks);
            // Create a new FormData object and append the audioBlob as 'file'
            const formData = new FormData();
            formData.append('file', audioBlob);
            // Send a POST request to '/upload' with the formData
            fetch('/upload', {
                method:'POST',
                body: formData
            }).then(response => response.text())
            .then(data => {
      // Display the transcription in the 'transcription' div
      document.getElementById('output').innerHTML = data});
        });

        // Stop the mediaRecorder
        mediaRecorder.stop();
    }
</script>

<div id="output"><p>User: </p></div>


</body>
</html>