<!DOCTYPE html>

<html>
        <style>
        * {
            background-color: #E9F1F7;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            color: #131B23;
        }
        #recordButton {
            background-color: #131B23;
            color: #E9F1F7;
        } 
        .chat-exchange .user-text {
            color: #131B23;
            padding-top: 20px;
        }
        .chat-exchange .chatbot-text {
            color: #131B23 ;
            text-decoration: wavy;
            padding-top: 10px;
        }
        </style>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">   

    <body>

    <button id="recordButton" onmousedown="startRecording();" onmouseup="stopRecording();">Push to Talk</button>

    <script src="https://cdn.socket.io/4.6.0/socket.io.min.js" integrity="sha384-c79GN5VsunZvi+Q/WObgk2in0CbZsHnjEqvFxC5DxHn9lTfNce2WW6h2pH6u/kF+" crossorigin="anonymous"></script>
    <script>
    let mediaRecorder;
    let recordedChunks = [];

    var socket = io.connect('http://' + document.domain + ':' + location.port);

    socket.on('user_text', function(msg) {
        console.log('Received user_text: ', msg.data);
        const chatExchanges = document.querySelectorAll('.chat-exchange');
        const lastExchange = chatExchanges[chatExchanges.length - 1];
        const output = lastExchange.querySelector('.user-text');
        output.innerHTML += msg.data + " ";
        });
    
    socket.on('chatbot_text', function(msg) {
        console.log('Received chatbot_text: ', msg.data);
        const chatExchanges = document.querySelectorAll('.chat-exchange');
        const lastExchange = chatExchanges[chatExchanges.length - 1];
        const output = lastExchange.querySelector('.chatbot-text');
        output.innerHTML += msg.data;
        });

    function stopRecording() {
        mediaRecorder.addEventListener('stop', function() {
            const audioBlob = new Blob(recordedChunks);
            const formData = new FormData();
            formData.append('file', audioBlob);
            fetch('/upload', {
                method:'POST',
                body: formData
            })
            .then(data => {
                addPlaceholderDivs();
            })
        });
        mediaRecorder.stop();
    }
    function addPlaceholderDivs() {
        const chatWindow = document.getElementById('chat-window');
        const chatExchanges = document.querySelectorAll('.chat-exchange');
        const lastExchange = chatExchanges[chatExchanges.length - 1];
        const newExchange = lastExchange.cloneNode(true);
        newExchange.querySelector('.user-text').innerHTML = 'User: ';
        newExchange.querySelector('.chatbot-text').innerHTML = 'Chatbot: ';
        chatWindow.appendChild(newExchange);
    }


    function startRecording() {
        recordedChunks = [];

        navigator.mediaDevices.getUserMedia({ audio: true })
        .then(stream => {
            mediaRecorder = new MediaRecorder(stream);
            mediaRecorder.start();

            mediaRecorder.addEventListener('dataavailable', function(e) {
                recordedChunks.push(e.data);
            });
        });
    }
</script>


<div id="chat-window">
    <div class="chat-exchange">
        <div class="user-section">
            <i class="fas fa-user"></i>
            <div class="user-text">User: </div>
        </div>
        <div class="chatbot-section">
            <i class="fas fa-robot"></i>
            <div class="chatbot-text">Chatbot: </div>
        </div>
    </div>
</div>



    </body>
</html>